<html>
    <body>
        <div class="login">
            <h1>FWI PREDICTION <h1>

            <form action="
                <label for="temperature">Temperature:</label>
                <input type="number" id="temperature" name="temperature" step="any" required><br><br>
                <label for="humidity">Humidity:</label>
                <input type="number" id="humidity" name="humidity" step="any" required><br><br>
                <label for="wind">Wind Speed:</label>
                <input type="number" id="wind" name="wind" step="any" required><br><br>
                <label for="rain">Rain (mm):</label>
                <input type="number" id="rain" name="rain" step="any" required><br><br>
                <input type="submit" value="Predict">
            </form>





            </form>
        </div>
    </body>
</html>